<html>
    <body style="font-family: Arial, sans-serif;">
        <div style="background-color: #f0f0f0; padding: 20px; border-radius: 5px;">
            <h1 style="color: #007BFF;">Activate Your Account</h1>
            <p>Hello {{user}},</p>
            <p>Thank you for signing up with us!</p>
            <p>Please click the button below to activate your account.</p>
            <p style="text-align: left;">
                <a href="{{url}}" style="display: inline-block; background-color: #007BFF; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
                    Activate Account
                </a>
            </p>
            <p>Note that this activation link is valid for 1 hour. After the time limit has expired, you might need to request a new activation link.</p>
            <p>If you didn't sign up for an account, please ignore this email.</p>
        </div>
    </body>
</html>